In [1]:
import re
import datetime
import pandas as pd

## 1. 'XXXX년 X월 XX일' ==> 'XXXX-XX-XX' 형태의 날짜정보로

#### datetime.date 사용

In [64]:
date1 = '회원등록 2017년 04월 11일 김철수(남)'
print(type(date1))
date1

<class 'str'>

'회원등록 2017년 04월 11일 김철수(남)'

In [59]:
re.compile("\d{4}년 \d{2}월 \d{2}일")

re.compile(r'\d{4}년 \d{2}월 \d{2}일', re.UNICODE)

In [60]:
redate = re.compile("\d{4}년 \d{2}월 \d{2}일")
redate.findall(date1)

['2017년 04월 11일']

In [61]:
redate = re.compile("\d{4}년 \d{2}월 \d{2}일")
ymd = redate.findall(date1)
ymd = re.findall('[0-9]+', ymd[0])
ymd

['2017', '04', '11']

In [62]:
ymd = datetime.date(int(ymd[0]), int(ymd[1]), int(ymd[2]))
print(ymd)
ymd

2017-04-11

datetime.date(2017, 4, 11)

#### pandas to_datetime 사용

In [66]:
date1 = '회원등록 2017년 04월 11일 김철수(남)'
print(type(date1))
date1

<class 'str'>

'회원등록 2017년 04월 11일 김철수(남)'

In [71]:
redate = re.compile("\d{4}년 \d{2}월 \d{2}일")
ymd    = redate.findall(date1)
ymd    = re.sub('년|월|', '.', ymd[0])
ymd

'2017. 04. 11일'

In [73]:
ymd    = re.sub('일', '', ymd)
ymd

'2017. 04. 11'

In [74]:
ymd    = re.sub(' ', '', ymd)
ymd

'2017.04.11'

In [76]:
ymd = pd.to_datetime(ymd)
print(ymd)
ymd

2017-04-11 00:00:00

Timestamp('2017-04-11 00:00:00')