In [1]:
addr = ['서울시 동대문구 이문동 좋아오피스텔 24층 2431호',
        '서울시 양천구 신월동 장미빌라 3층 302호',
        '서울시 광진구 광장1동 수목아파트 505동 5층 201호',
        '경기도 남양주시 다산동 무궁화빌라 가동 201호',
        '경기도 구리시 인창동 민들레다움 401동 13층 1302호',
        '서울시 종로구 인사동 인사마을빌라 A6층 201호',
        '경기도 수원시 팔달구 인계동 착한마을아파트 103동 12층 1205호',
        '서울시 강남구 신사동 단발신사3차 아파트 1205동 8층 810호',
        '경기도 남양주시 와부읍 덕소리 덕소좋은마을 빌라 다동 2층 202호',
        '경기도 구리시 수택동 행복아파트 1302동 1051호']

#### 층수의 경우 '3층' 혹은 '13층'이다. 층수의 숫자만을 뽑기 위해선 '층'글자 앞에서 하나 혹은 두개를 가져온다.
#### 다음은 층수가 두 자리일 경우

In [2]:
addr[0]

'서울시 동대문구 이문동 좋아오피스텔 24층 2431호'

In [3]:
ex_addr = addr[0]

#### 우선 '층'의 위치를 찾는다.

In [4]:
ex_addr.find('층')

22

In [5]:
fdx = ex_addr.find('층')

#### 층수는 '24층'이라서 인덱스 번호를 활용 '층'앞에 두 개 앞 숫자부터 바로 앞 숫자까지

In [6]:
floor = ex_addr[fdx-2:fdx]
floor

'24'

In [7]:
floor = float(floor)
floor

24.0

In [8]:
type(floor)

float

#### 층수가 한 자리일 경우

In [9]:
addr[1]

'서울시 양천구 신월동 장미빌라 3층 302호'

In [10]:
ex_addr = addr[1]

In [11]:
ex_addr.find('층')

18

In [12]:
fdx = ex_addr.find('층')

In [13]:
floor = ex_addr[fdx-2:fdx]
floor

' 3'

#### 한 자리수 층수의 경우에는 ' '공백까지 잡힘

In [14]:
floor = float(floor)
floor

3.0

In [15]:
type(floor)

float

#### 문자열을 숫자로 바꾸면 공백 문제는 해결됨